@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* 头部 */
header {
  width: 1300px;
  height: 255px;
  margin: 0 auto;
  position: relative;
}

header .hTop {
  width: 1300px;
}

header .hTop .vip {
  float: left;
  font-size: 21px;
  color: #666666;
  padding-top: 9px;
}

header .hTop .vip:hover {
  color: red;
}

header .hTop .hRight {
  float: right;
}

header .hTop .hRight .hrzi {
  display: inline-block;
  font-size: 17px;
  color: #666666;
  position: relative;
  top: -15px;
}

header .hTop .hRight i {
  font-style: normal;
  color: #c1c1c1;
  position: relative;
  top: -15px;
}

header .hTop .hRight .login {
  margin-right: 140px;
}

header .hTop .hRight .shopping {
  margin-right: 15px;
}

header .hTop .hRight .shopBag {
  display: inline-block;
  width: 34px;
  height: 39px;
  background-image: url(../images/shopBag.jpg);
}

header .hTop .hRight .hrzi:hover {
  color: red;
}

header .meta {
  width: 1300px;
  position: absolute;
  top: 105px;
  text-align: center;
}

header nav {
  width: 1300px;
  position: absolute;
  top: 222px;
}

header nav .nav {
  width: 748px;
  margin: 0 auto;
}

header nav .nav li a {
  width: 84px;
  float: left;
  font-size: 21px;
  color: #6b6b6b;
}

header nav .nav li a:hover {
  color: red;
}

header nav .nav li .nav2 {
  margin-left: 143px;
}

header nav .nav li .nav3 {
  margin-left: 137px;
}

header nav .nav li .nav4 {
  margin-left: 132px;
}

/* 尾部 */
.cutting {
  width: 100%;
  height: 1px;
  background-color: #b2b1b1;
}

footer {
  width: 1300px;
  height: 201px;
  margin: 0 auto;
}

footer .fPresent {
  width: 403px;
  margin: 45px auto 0;
}

footer .fPresent dl {
  float: left;
}

footer .fPresent dl dt {
  font-size: 14px;
  color: #b0b0b0;
  padding-bottom: 14px;
}

footer .fPresent dl dd a {
  display: inline-block;
  font-size: 14px;
  color: #989898;
  padding-bottom: 8px;
}

footer .fPresent dl dd a:hover {
  color: red;
}

footer .fPresent .present {
  margin-left: 115px;
}

footer .fPresent .social {
  margin-left: 120px;
}

.logonPlan {
  width: 558px;
  height: 570px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #fff;
  padding: 122px 0 0 41px;
}

.logonPlan .plan {
  font-size: 37px;
  text-align: center;
  color: #3d3d3d;
}

.logonPlan p {
  font-size: 19px;
  color: #666666;
  line-height: 27px;
  text-align: center;
  margin-top: 30px;
}

.logonPlan .email {
  display: block;
  font-size: 19px;
  color: #666666;
  padding-bottom: 7px;
  margin-top: 19px;
}

.logonPlan .emailText {
  width: 515px;
  height: 36px;
  margin-top: 0px;
  font-size: 21px;
}

.logonPlan a {
  display: block;
  width: 521px;
  font-size: 21px;
  margin-top: 19px;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.logonPlan .create {
  width: 519px;
  height: 49px;
  background-color: #c4a9b8;
  color: #f1ecef;
  line-height: 49px;
  border: 1px solid #e3dfe1;
}

.logonPlan .microblog {
  height: 46px;
  background-color: #f1ead8;
  color: #605d55;
  line-height: 46px;
}

.logonPlan .microblog .sina {
  position: absolute;
  left: 25px;
  top: 8px;
}

.logonPlan .qq {
  width: 519px;
  height: 46px;
  background-color: #fff;
  color: #605d55;
  line-height: 46px;
  border: 1px solid #e1e1e1;
}

.logonPlan .qq .QQ {
  position: absolute;
  left: 27px;
  top: 7px;
}

.logonPlan .logonLogin {
  width: 601px;
  height: 55px;
  border: none;
  background-color: #000;
  margin-top: 67px;
  margin-left: -42px;
  color: #d5d5d5;
  text-decoration: underline;
  line-height: 55px;
}

.ready {
  width: 595px;
  height: 581px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #fff;
}

.ready .finish {
  font-size: 33px;
  text-align: center;
  color: #666666;
  margin-top: 38px;
}

.ready span {
  display: block;
  font-size: 21px;
  color: #666666;
  margin: 25px 0 0 25px;
}

.ready span:nth-child(2) {
  margin-top: 109px;
}

.ready input {
  width: 516px;
  height: 36px;
  border: 2px solid #e3e3e3;
  margin: 10px 0 0 25px;
  font-size: 21px;
}

.ready a {
  display: block;
  width: 518px;
  height: 42px;
  background-color: #85737d;
  font-size: 25px;
  line-height: 42px;
  color: #e5e2e3;
  margin: 45px 0 0 25px;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.ready a div {
  width: 139px;
  height: 42px;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 0;
  background-color: #c4a9b8;
}

.loginNei {
  width: 599px;
  height: 692px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: #fff;
}

.loginNei .hy {
  width: 422px;
  margin: 26px auto 0;
  font-size: 25px;
  text-align: center;
  color: #666666;
}

.loginNei .logod {
  text-align: center;
  margin-top: 62px;
}

.loginNei .tong {
  display: block;
  width: 522px;
  text-align: center;
  position: relative;
  font-size: 19px;
  text-decoration: none;
  margin: 0 auto;
}

.loginNei .sinad {
  height: 46px;
  color: #605d55;
  background-color: #f1ead8;
  line-height: 46px;
  margin-top: 50px;
}

.loginNei .sinad img {
  position: absolute;
  top: 8px;
  left: 25px;
}

.loginNei .qqd {
  width: 518px;
  height: 44px;
  color: #605d55;
  border: 2px solid #e0e1e1;
  line-height: 44px;
  margin-top: 19px;
}

.loginNei .qqd img {
  position: absolute;
  top: 6px;
  left: 26px;
}

.loginNei span {
  display: block;
  font-size: 19px;
  color: #666666;
  margin: 20px 0 0 41px;
}

.loginNei input {
  width: 516px;
  height: 36px;
  border: 2px solid #e3e3e3;
  margin: 7px 0 0 40px;
  font-size: 21px;
}

.loginNei .dl {
  width: 520px;
  height: 49px;
  color: #e3d7dd;
  background-color: #c4a9b8;
  font-size: 21px;
  line-height: 49px;
  border: 1px solid #d1c2cb;
  margin-top: 14px;
}

.loginNei .forget {
  display: block;
  text-decoration: none;
  font-size: 17px;
  color: #a3a3a3;
  text-align: center;
  margin-top: 23px;
}

.loginNei .logZu {
  display: block;
  width: 599px;
  height: 55px;
  background-color: #000;
  color: #a3a3a3;
  text-align: center;
  font-size: 19px;
  line-height: 55px;
  margin: 27px auto 0;
}

/* 注册1 */
.logonVip {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.logonVip .logonf {
  width: 601px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -382px;
}

/* 注册2 */
.logonFinish {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.logonFinish .logonfin {
  width: 597px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -298px;
  margin-top: -296px;
}

/* 注册2 */
.loginCome {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.loginCome .loginLand {
  width: 601px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -382px;
}

.navigation {
  width: 1300px;
  margin: 0 auto;
  position: relative;
}

.navigation ul {
  width: 428px;
  height: 20px;
  margin: 0 auto;
  padding-top: 20px;
}

.navigation ul li a {
  float: left;
  margin-right: 52px;
  font-size: 17px;
  color: #6e6e6e;
  font-style: italic;
}

.navigation ul li .last {
  margin-right: 0px;
}

.navigation ul li a:hover {
  color: red;
}

/* 关于META */
.extreme {
  width: 1300px;
  margin: 137px auto 0;
  text-align: center;
}

.extreme span {
  font-size: 17px;
  font-style: italic;
  color: #6e6e6e;
}

.extreme div {
  font-size: 75px;
  color: #080808;
  margin: 24px 0 27px;
}

.extreme i {
  font-size: 33px;
  color: #2d2d2d;
  line-height: 40px;
}

/* 了解制作工厂 了解产品成本 了解你的需求 */
.understeer {
  width: 1403px;
  height: 200px;
  margin: 120px auto 0;
}

.understeer ul li {
  width: 358px;
  text-align: center;
  float: left;
  margin-left: 163px;
}

.understeer ul li span {
  display: block;
  font-size: 25px;
  color: #2d2d2d;
  margin: 30px 0 41px;
}

.understeer ul li p {
  font-size: 12px;
  color: #6e6e6e;
  line-height: 15px;
}

.understeer ul .first1 {
  margin-left: 0px;
}

/* 顾客有权力去知道他们购买的产品来自哪里 并了解每件产品的成本 */
.know {
  width: 1300px;
  margin: 290px auto 0;
  text-align: center;
}

.know h3 {
  font-size: 42px;
  color: #2d2d2d;
  line-height: 48px;
}

.know p {
  font-size: 21px;
  color: #6e6e6e;
  line-height: 26px;
  margin-top: 83px 0;
}

/* 团队介绍 */
.trem {
  width: 1300px;
  margin: 16px auto;
  text-align: center;
  padding-top: 60px;
}

.trem span {
  font-size: 17px;
  font-style: italic;
  color: #7f7f7f;
}

.trem img {
  display: block;
  margin: 36px auto 0;
}

.trem p {
  font-size: 21px;
  color: #6e6e6e;
  line-height: 26px;
  margin-top: 68px;
}

/* 媒体报道 */
#media {
  width: 1300px;
  margin: 110px auto 0;
  text-align: center;
  padding-top: 60px;
}

#media span {
  font-size: 17px;
  font-style: italic;
  color: #7f7f7f;
  padding-bottom: 15px;
}

#media .logMedia {
  width: 1027px;
  height: 500px;
  margin: 0 auto;
}

#media .logMedia ul {
  float: left;
  margin-left: 76px;
}

#media .logMedia ul li {
  margin-top: 65px;
}

#media .logMedia ul li p {
  font-size: 17px;
  color: #333333;
  line-height: 25px;
  margin-top: 30px;
}

#media .logMedia .log1 {
  margin-left: 0px;
}

#media .logMedia .log2 {
  margin-top: 50px;
}

#media .logMedia .log3 {
  margin-top: 60px;
}

/* 联系我们 */
#contact {
  width: 1300px;
  margin: 215px auto 110px;
  text-align: center;
  padding-top: 60px;
}

#contact .contact {
  font-size: 17px;
  font-style: italic;
  color: #7f7f7f;
  padding-bottom: 15px;
}

#contact h3 {
  font-size: 42px;
  color: #7f7f7f;
  margin-top: 56px;
  line-height: 49px;
}

#contact div {
  margin: 60px 0 70px;
}

#contact div .si {
  margin-left: 34px;
}

#contact .con {
  display: block;
  font-size: 21px;
  color: #6e6e6e;
  line-height: 25px;
}

#contact .con i {
  display: block;
  color: #b392a5;
  font-size: 21px;
  line-height: 25px;
}

#contact .con .i:hover {
  color: red;
}

#contact .con .cont {
  display: inline;
}

#contact .con1 {
  margin-top: 25px;
}
