@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* 头部 */
header {
  width: 1300px;
  height: 255px;
  margin: 0 auto;
  position: relative;
}

header .hTop {
  width: 1300px;
}

header .hTop .vip {
  float: left;
  font-size: 21px;
  color: #666666;
  padding-top: 9px;
}

header .hTop .vip:hover {
  color: red;
}

header .hTop .hRight {
  float: right;
}

header .hTop .hRight .hrzi {
  display: inline-block;
  font-size: 17px;
  color: #666666;
  position: relative;
  top: -55px;
}

header .hTop .hRight i {
  font-style: normal;
  color: #c1c1c1;
  position: relative;
  top: -55px;
}

header .hTop .hRight .login {
  margin-right: 140px;
}

header .hTop .hRight .shopping {
  margin-right: 27px;
}

header .hTop .hRight .shopBag {
  display: inline-block;
  width: 52px;
  height: 80px;
  background-image: url(../images/bag.png);
}

header .hTop .hRight .hrzi:hover {
  color: red;
}

header .meta {
  width: 1300px;
  position: absolute;
  top: 105px;
  text-align: center;
}

header nav {
  width: 1300px;
  position: absolute;
  top: 222px;
}

header nav li {
  float: left;
  width: 84px;
  text-align: center;
  margin-left: 185px;
}

header nav li div {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: #b1afaf;
  font-size: 21px;
  line-height: 29px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

header nav li span {
  display: inline-block;
  font-size: 21px;
  margin-top: 14px;
  color: #999898;
}

header nav li .num1 {
  background-color: #c29bb1;
}

header nav li .num2 {
  background-color: #9d6f89;
}

header nav li .xinXi2 {
  color: #777777;
}

header nav li a:hover span {
  color: red;
}

/* 尾部 */
.cutting {
  width: 100%;
  height: 1px;
  background-color: #b2b1b1;
}

footer {
  width: 1300px;
  height: 201px;
  margin: 0 auto;
}

footer .fPresent {
  width: 403px;
  margin: 45px auto 0;
}

footer .fPresent dl {
  float: left;
}

footer .fPresent dl dt {
  font-size: 14px;
  color: #b0b0b0;
  padding-bottom: 14px;
}

footer .fPresent dl dd a {
  display: inline-block;
  font-size: 14px;
  color: #989898;
  padding-bottom: 8px;
}

footer .fPresent dl dd a:hover {
  color: red;
}

footer .fPresent .present {
  margin-left: 115px;
}

footer .fPresent .social {
  margin-left: 120px;
}

/* 价格合计 */
.sum {
  width: 229px;
  height: 427px;
  border: 1px solid #d6d4d4;
  background-color: #f9f9f9;
  padding: 0 15px;
}

.sum div {
  height: 84px;
  line-height: 84px;
  text-align: center;
  border-top: 2px solid #e7e6e6;
  color: #838383;
}

.sum div span {
  font-size: 17px;
}

.sum div .le {
  float: left;
  margin-left: 13px;
}

.sum div .ri {
  float: right;
  margin-right: 18px;
}

.sum .total {
  height: 76px;
  line-height: 76px;
  border-top: none;
  font-size: 21px;
}

/* 购物车 */
.commodity {
  width: 728px;
  border-top: 2px solid #e3e2e2;
}

.commodity .willSong {
  font-size: 17px;
  color: #666666;
  margin-top: 5px;
}

.commodity .jiChu {
  font-size: 17px;
  color: #c0bfbf;
  margin-top: 28px;
}

.commodity .jiaGe {
  margin-top: 44px;
}

.commodity .jiaGe .jiaGeL {
  position: relative;
  top: -125px;
}

.commodity .jiaGe .jiaGeL h4 {
  font-size: 17px;
  color: #6b6b6b;
  position: absolute;
  top: 11px;
  left: 166px;
}

.commodity .jiaGe .jiaGeL .sty {
  font-size: 17px;
  color: #6b6b6b;
  position: absolute;
  top: 53px;
  left: 166px;
}

.commodity .jiaGe .jiaGeL .shu {
  left: 289px;
}

.commodity .jiaGe .jiaGeL .price {
  left: 403px;
}

.commodity .jiaGe .jiaGeL .junMa {
  position: absolute;
  top: 92px;
  left: 166px;
  color: #6b6b6b;
}

.commodity .jiaGe .jiaGeL .quantity {
  position: absolute;
  top: 83px;
  left: 273px;
}

.commodity .jiaGe .jiaGeL .quantity .jian {
  margin-right: 9px;
  color: #aaaaaa;
  cursor: pointer;
}

.commodity .jiaGe .jiaGeL .quantity .fang {
  width: 36px;
  height: 36px;
  border: 1px solid #cdcdcd;
  line-height: 36px;
  text-align: center;
  font-size: 15px;
}

.commodity .jiaGe .jiaGeL .quantity .jia {
  margin-left: 7px;
  color: #aaaaaa;
  cursor: pointer;
}

.commodity .jiaGe .jiaGeL .heJi {
  position: absolute;
  top: 92px;
  left: 399px;
  color: #6b6b6b;
}

.commodity .jiaGe .jiaGeL .delete {
  font-size: 16px;
  color: #d1d1d1;
  position: absolute;
  right: 26px;
  top: 11px;
}

.commodity .bor {
  border-top: 4px solid #e6e6e6;
  padding-top: 29px;
  margin: 30px 0 77px 0;
}

.logonPlan {
  width: 558px;
  height: 570px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #fff;
  padding: 122px 0 0 41px;
}

.logonPlan .plan {
  font-size: 37px;
  text-align: center;
  color: #3d3d3d;
}

.logonPlan p {
  font-size: 19px;
  color: #666666;
  line-height: 27px;
  text-align: center;
  margin-top: 30px;
}

.logonPlan .email {
  display: block;
  font-size: 19px;
  color: #666666;
  padding-bottom: 7px;
  margin-top: 19px;
}

.logonPlan .emailText {
  width: 515px;
  height: 36px;
  margin-top: 0px;
  font-size: 21px;
}

.logonPlan a {
  display: block;
  width: 521px;
  font-size: 21px;
  margin-top: 19px;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.logonPlan .create {
  width: 519px;
  height: 49px;
  background-color: #c4a9b8;
  color: #f1ecef;
  line-height: 49px;
  border: 1px solid #e3dfe1;
}

.logonPlan .microblog {
  height: 46px;
  background-color: #f1ead8;
  color: #605d55;
  line-height: 46px;
}

.logonPlan .microblog .sina {
  position: absolute;
  left: 25px;
  top: 8px;
}

.logonPlan .qq {
  width: 519px;
  height: 46px;
  background-color: #fff;
  color: #605d55;
  line-height: 46px;
  border: 1px solid #e1e1e1;
}

.logonPlan .qq .QQ {
  position: absolute;
  left: 27px;
  top: 7px;
}

.logonPlan .logonLogin {
  width: 601px;
  height: 55px;
  border: none;
  background-color: #000;
  margin-top: 67px;
  margin-left: -42px;
  color: #d5d5d5;
  text-decoration: underline;
  line-height: 55px;
}

.ready {
  width: 595px;
  height: 581px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #fff;
}

.ready .finish {
  font-size: 33px;
  text-align: center;
  color: #666666;
  margin-top: 38px;
}

.ready span {
  display: block;
  font-size: 21px;
  color: #666666;
  margin: 25px 0 0 25px;
}

.ready span:nth-child(2) {
  margin-top: 109px;
}

.ready input {
  width: 516px;
  height: 36px;
  border: 2px solid #e3e3e3;
  margin: 10px 0 0 25px;
  font-size: 21px;
}

.ready a {
  display: block;
  width: 518px;
  height: 42px;
  background-color: #85737d;
  font-size: 25px;
  line-height: 42px;
  color: #e5e2e3;
  margin: 45px 0 0 25px;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.ready a div {
  width: 139px;
  height: 42px;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 0;
  background-color: #c4a9b8;
}

.loginNei {
  width: 599px;
  height: 692px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: #fff;
}

.loginNei .hy {
  width: 422px;
  margin: 26px auto 0;
  font-size: 25px;
  text-align: center;
  color: #666666;
}

.loginNei .logod {
  text-align: center;
  margin-top: 62px;
}

.loginNei .tong {
  display: block;
  width: 522px;
  text-align: center;
  position: relative;
  font-size: 19px;
  text-decoration: none;
  margin: 0 auto;
}

.loginNei .sinad {
  height: 46px;
  color: #605d55;
  background-color: #f1ead8;
  line-height: 46px;
  margin-top: 50px;
}

.loginNei .sinad img {
  position: absolute;
  top: 8px;
  left: 25px;
}

.loginNei .qqd {
  width: 518px;
  height: 44px;
  color: #605d55;
  border: 2px solid #e0e1e1;
  line-height: 44px;
  margin-top: 19px;
}

.loginNei .qqd img {
  position: absolute;
  top: 6px;
  left: 26px;
}

.loginNei span {
  display: block;
  font-size: 19px;
  color: #666666;
  margin: 20px 0 0 41px;
}

.loginNei input {
  width: 516px;
  height: 36px;
  border: 2px solid #e3e3e3;
  margin: 7px 0 0 40px;
  font-size: 21px;
}

.loginNei .dl {
  width: 520px;
  height: 49px;
  color: #e3d7dd;
  background-color: #c4a9b8;
  font-size: 21px;
  line-height: 49px;
  border: 1px solid #d1c2cb;
  margin-top: 14px;
}

.loginNei .forget {
  display: block;
  text-decoration: none;
  font-size: 17px;
  color: #a3a3a3;
  text-align: center;
  margin-top: 23px;
}

.loginNei .logZu {
  display: block;
  width: 599px;
  height: 55px;
  background-color: #000;
  color: #a3a3a3;
  text-align: center;
  font-size: 19px;
  line-height: 55px;
  margin: 27px auto 0;
}

/* 注册1 */
.logonVip {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.logonVip .logonf {
  width: 601px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -382px;
}

/* 注册2 */
.logonFinish {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.logonFinish .logonfin {
  width: 597px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -298px;
  margin-top: -296px;
}

/* 注册2 */
.loginCome {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.loginCome .loginLand {
  width: 601px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -382px;
}

h3 {
  width: 1300px;
  font-size: 38px;
  color: #666666;
  text-align: center;
  margin: 108px auto 0;
  line-height: 50px;
}

.shopconfirm {
  width: 1300px;
  margin: 84px auto 0;
  border-top: 2px solid #e3e2e2;
}

.shopconfirm .confirmLeft {
  float: left;
}

.shopconfirm .confirmLeft span {
  display: block;
  font-size: 25px;
  color: #666666;
  margin: 27px 0 0 118px;
}

.shopconfirm .confirmLeft .la {
  color: #b89aab;
}

.shopconfirm .confirmLeft .la:hover {
  color: red;
}

.shopconfirm .confirmLeft .first {
  margin-top: 57px;
}

.shopconfirm .confirmLeft .second {
  margin-top: 52px;
}

.shopconfirm .confirmRight {
  float: right;
  margin: 57px 121px 0 0;
}

.shopconfirm .confirmRight .inputBtn {
  width: 261px;
  margin-top: 13px;
}

.shopconfirm .confirmRight .inputBtn input {
  width: 261px;
  height: 37px;
  background-color: #9d6f89;
  color: #d2c0ca;
  font-size: 21px;
  border: none;
  margin-top: 18px;
}

.shopconfirm .conDelivery {
  margin-top: 488px;
  margin-left: 137px;
}
