doctype
html
	head
		meta(charset="utf-8")
		title META
		link(rel="stylesheet",type="text/css",href="../css/about.css")
	body
		include header.jade
		div.navigation
			ul.fixed
				li
					a(href="#trem") 团队介绍
				li
					a(href="#idea") 设计理念
				li
					a(href="#media") 媒体报道
				li
					a.last(href="#contact") 联系我们
		div.extreme
			span -关于META-
			div 极致透明
			i 了解制作工厂，了解产品成本，<br/>了解你的需求
		div.understeer
			ul
				li.first1
					img(src="../images/factory.png")
					span 了解制作工厂
					p 每当我们在设计一件新单品的时候，<br/>我们会花好几个月的<br/>时间去寻找精通次单品领域的最优秀的工厂，<br/>其合作。其实在这个过程中，如何找到在对应领域最<br/>顶尖的工厂，最合适<br/>的原材料<br/>和最优秀的做工。<br/>最好的T恤是布料肯定是美国皮马棉或是埃及棉；<br/>最好的丝绸地在杭州；意大利当然是<br/>制作皮革类包鞋的不二选择。<br/>我们在全球范围内搜寻最好的与产品匹配的供应商。
				li
					img(src="../images/product.png")
					span 了解制作工厂
					p 每当我们在设计一件新单品的时候，<br/>我们会花好几个月的<br/>时间去寻找精通次单品领域的最优秀的工厂，<br/>其合作。其实在这个过程中，如何找到在对应领域最<br/>顶尖的工厂，最合适<br/>的原材料<br/>和最优秀的做工。<br/>最好的T恤是布料肯定是美国皮马棉或是埃及棉；<br/>最好的丝绸地在杭州；意大利当然是<br/>制作皮革类包鞋的不二选择。<br/>我们在全球范围内搜寻最好的与产品匹配的供应商。
				li
					img(src="../images/needs.png")
					span 了解制作工厂
					p 每当我们在设计一件新单品的时候，<br/>我们会花好几个月的<br/>时间去寻找精通次单品领域的最优秀的工厂，<br/>其合作。其实在这个过程中，如何找到在对应领域最<br/>顶尖的工厂，最合适<br/>的原材料<br/>和最优秀的做工。<br/>最好的T恤是布料肯定是美国皮马棉或是埃及棉；<br/>最好的丝绸地在杭州；意大利当然是<br/>制作皮革类包鞋的不二选择。<br/>我们在全球范围内搜寻最好的与产品匹配的供应商。
		div.know
			h3 顾客有权力去知道他们购买的产品来自哪里<br/>并了解每件产品的成本。
			p 一个简单的理念，三个合伙人一拍即合，在2015年中创立了META品牌。<br/>你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道的定价体系，<br/>但是，在META，它绝不是这样。<br/>这个事实让我们很震惊。<br/>于是我们想创立一个简洁，摩登，却又基本，实穿的高质量品牌，<br/>仅提供网络销售，切除一切传统供应链的中间商加价环节。<br/>这意味着一件质量上乘的T恤，成本30元，我们会卖给你60元，<br/>而非传统购物的200元或者更多。<br/>我们还发现，消费者很少去了解他们买的服装的成本，<br/>不仅不知道自己付了多少不必要，夸张的中间商费用，甚至连自己买到的产品在哪里制作？<br/>是否使用安全上等的材料？又或者，是否在干净的工厂环境下制作？<br/>都完全没有留意过。<br/>“极致透明”这个简单的概念成为了META品牌的核心，<br/>我们将公开我们所有产品的成本结构以及背后工厂的故事。<br/>我们希望，META能开启一个全新的零售模式。
		div#trem.trem
			div
				span -团队介绍-
				img(src="../images/trem.jpg")
				p 一个简单的理念，三个合伙人一拍即合，在2015年中创立了META品牌。<br/>你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道的定价体系，<br/>但是，在META，它绝不是这样。<br/>这个事实让我们很震惊。<br/>于是我们想创立一个简洁，摩登，却又基本，实穿的高质量品牌，<br/>仅提供网络销售，切除一切传统供应链的中间商加价环节。<br/>这意味着一件质量上乘的T恤，成本30元，我们会卖给你60元，<br/>而非传统购物的200元或者更多。<br/>我们还发现，消费者很少去了解他们买的服装的成本，<br/>不仅不知道自己付了多少不必要，夸张的中间商费用，甚至连自己买到的产品在哪里制作？<br/>是否使用安全上等的材料？又或者，是否在干净的工厂环境下制作？<br/>都完全没有留意过。<br/>“极致透明”这个简单的概念成为了META品牌的核心，<br/>我们将公开我们所有产品的成本结构以及背后工厂的故事。<br/>我们希望，META能开启一个全新的零售模式。
		div#idea.trem
			div
				span -设计理念-
				img(src="../images/idea.jpg")
				p 一个简单的理念，三个合伙人一拍即合，在2015年中创立了META品牌。<br/>你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道的定价体系，<br/>但是，在META，它绝不是这样。<br/>这个事实让我们很震惊。<br/>于是我们想创立一个简洁，摩登，却又基本，实穿的高质量品牌，<br/>仅提供网络销售，切除一切传统供应链的中间商加价环节。<br/>这意味着一件质量上乘的T恤，成本30元，我们会卖给你60元，<br/>而非传统购物的200元或者更多。<br/>我们还发现，消费者很少去了解他们买的服装的成本，<br/>不仅不知道自己付了多少不必要，夸张的中间商费用，甚至连自己买到的产品在哪里制作？<br/>是否使用安全上等的材料？又或者，是否在干净的工厂环境下制作？<br/>都完全没有留意过。<br/>“极致透明”这个简单的概念成为了META品牌的核心，<br/>我们将公开我们所有产品的成本结构以及背后工厂的故事。<br/>我们希望，META能开启一个全新的零售模式。
		div#media
			span -媒体报道-
			div.logMedia
				ul.log1
					li
						img(src="../images/lo1.png")
						p “If you ate buying such basics as T-<br/>shirts,belts or tote bags at<br/>traditional retailers,you're<br/>probably paying too much.”
					li
						div
							img(src="../images/lo4.png")
						p “If you ate buying such basics as T-<br/>shirts,belts or tote bags at<br/>traditional retailers,you're<br/>probably paying too much.<br/>If you ate buying such basics as T-<br/>shirts,belts or tote bags at<br/>traditional retailers”
				ul.log2
					li
						div
							img(src="../images/lo2.png")
						p “If you ate buying such basics as T-<br/>shirts,belts or tote bags at<br/>traditional retailers,you're<br/>probably paying too much.<br/>traditional retailers,you're<br/>probably paying too much.”
					li
						img(src="../images/lo5.png")
						p “If you ate buying such basics as T-<br/>shirts,belts or tote bags at<br/>traditional retailers,you're<br/>probably paying too much.<br/>If you ate buying such basics as T-<br/>shirts,belts or tote bags at<br/>traditional retailers”
				ul.log3
					li
						img(src="../images/lo3.png")
						p “If you ate buying such basics as T-<br/>shirts,belts or tote bags at<br/>traditional retailers,you're<br/>probably paying too much.<br/>traditional retailers,you're<br/>probably paying too much.”
					li
						img(src="../images/lo6.png")
						p “If you ate buying such basics as T-<br/>shirts,belts or tote bags at<br/>traditional retailers,you're<br/>probably paying too much.<br/>If you ate buying such basics as T-<br/>shirts,belts or tote bags at<br/>traditional retailers”
		div#contact
			span.contact -联系我们-
			h3 我们仅在线销售，<br/>我们非常希望听到您的声音<br/>您的意见是我们前进的动力
			div
				a(href="#")
					img(src="../images/WeChat.png")
				a(href="#")
					img.si(src="../images/sina-about.png")
			span.con For general inquiries;
				a(href="#")
					i.i support@metamorphosis.cn
			span.con.con1 For general inquiries;
				a(href="#")
					i.i support@metamorphosis.cn
			span.con.con1 If you want to make a return or<br/>an exchange,go to your 
				i.cont orders page
			span.con to begin the return process.
		include footer.jade
		include loginLogon.jade
	script(src="../js/about.js")