div.commodity
	div.willSong 即将送货
	div.jiChu 以下商品即将寄出
	div.jiaGe
		img(src="../images/danbag.png")
		div.jiaGeL
			h4 麦塔单肩包
			span.sty.size 尺码
			span.sty.shu 数量
			span.sty.price 总价
			div.junMa 均码
			div.quantity
				span.jian -
				input.fang(type="text",value="1")
				span.jia +
			div.heJi ￥199
			a(href="#")
				div.delete x
	div.jiaGe.bor
		img(src="../images/danbag.png")
		div.jiaGeL
			h4 麦塔单肩包
			span.sty.size 尺码
			span.sty.shu 数量
			span.sty.price 总价
			div.junMa 均码
			div.quantity
				span.jian -
				input.fang(type="text",value="1")
				span.jia +
			div.heJi ￥199
			a(href="#")
				div.delete x