div.cutting
footer
	div.fPresent
		dl
			dt 帮助
			dd
				a(href="javascript:void(0)") 退换货
			dd
				a(href="javascript:void(0)") 联系我们
			dd
				a(href="javascript:void(0)") 服务条款
			dd
				a(href="javascript:void(0)") 隐私声明
		dl.present
			dt 公司介绍
			dd
				a(href="javascript:void(0)") 工厂故事
			dd
				a(href="about.html") 关于我们
		dl.social
			dt 社交网络
			dd
				a(href="javascript:void(0)") 微博
			dd
				a(href="javascript:void(0)") 微信
			dd
				a(href="javascript:void(0)") 博客