header
	div.hTop
		a.vip(href="member.html") 加入会员，首单免费
		div.hRight
			a.hrzi.logon(href="javascript:void(0)") 注册
			i |
			a.hrzi.login(href="javascript:void(0)") 登录
			a.hrzi.shopping(href="shopAddress.html") 购物袋
			a(href="shopAddress.html")
				div.shopBag
	div.meta
		a(href="index.html")
			img(src="../images/meta.jpg")
	nav
		ul.nav
			li
				a.nav1(href="index.html") 产品目录
			li
				a.nav2(href="#") 工厂故事
			li
				a.nav3(href="#") 优惠策略
			li
				a.nav4(href="about.html") 关于我们
script(src="../js/loginLogon.js")