header
	div.hTop
		a.vip(href="member.html") 加入会员，首单免费
		div.hRight
			a.hrzi.logon(href="javascript:void(0)") 注册
			i |
			a.hrzi.login(href="javascript:void(0)") 登录
			a.hrzi.shopping(href="shopAddress.html") 购物袋
			a(href="shopAddress.html")
				div.shopBag
	div.meta
		a(href="index.html")
			img(src="../images/meta.jpg")
	nav
		ul.nav
			li
				a(href="#")
					div.num1 1
					span.xinXi1 登陆账户
			li
				a(href="#")
					div.num2 2
					span.xinXi2 收货信息
			li
				a(href="#")
					div.num3 3
					span.xinXi3 付款
			li
				a(href="#")
					div.num4 4
					span.xinXi4 确认
script(src="../js/loginLogon.js")