doctype
html
	head
		meta(charset="utf-8")
		title META
		link(rel="stylesheet",type="text/css",href="../css/index.css")
	body
		include header.jade
		div.carousel
			ul.lun
				li.active
					a(href="#")
						img(src="../images/bg1.jpg",width="100%")
				li
					a(href="#")
						img(src="http://img3.imgtn.bdimg.com/it/u=801402430,1011312455&fm=21&gp=0.jpg",width="100%")
				li
					a(href="#")
						img(src="http://img3.imgtn.bdimg.com/it/u=591428339,2178578644&fm=21&gp=0.jpg",width="100%")
			ol
				li
				li.quan2
				li.quan3
		section.series
			span.bag 双肩包系列
				ul.list
					li
						a(href="shop.html")
							img(src="../images/backpack.jpg")
							div.box 加入购物袋
							span 麦塔双肩包 - ￥349
					li
						a(href="shop.html")
							img(src="../images/backpack.jpg")
							div.box 加入购物袋
							span 麦塔双肩包 - ￥349
					li
						a(href="shop.html")
							img(src="../images/backpack.jpg")
							div.box 加入购物袋
							span 麦塔双肩包 - ￥349
					li
						a(href="shop.html")
							img(src="../images/backpack.jpg")
							div.box 加入购物袋
							span 麦塔双肩包 - ￥349
					li
						a(href="shop.html")
							img(src="../images/backpack.jpg")
							div.box 加入购物袋
							span 麦塔双肩包 - ￥349
		section.series
			span.bag 单肩包系列
				ul.list
					li
						a(href="shop.html")
							img(src="../images/shoulder.jpg")
							div.box 加入购物袋
							span 麦塔单肩包 - ￥199
					li
						a(href="shop.html")
							img(src="../images/shoulder.jpg")
							div.box 加入购物袋
							span 麦塔单肩包 - ￥199
					li
						a(href="shop.html")
							img(src="../images/shoulder.jpg")
							div.box 加入购物袋
							span 麦塔单肩包 - ￥199
					li
						a(href="shop.html")
							img(src="../images/shoulder.jpg")
							div.box 加入购物袋
							span 麦塔单肩包 - ￥199
		section.series
			span.bag 洗漱包系列
				ul.list
					li
						a(href="shop.html")
							img(src="../images/KHN.jpg")
							div.box 加入购物袋
							span 麦塔洗漱包 - ￥129
					li
						a(href="shop.html")
							img(src="../images/KHN.jpg")
							div.box 加入购物袋
							span 麦塔洗漱包 - ￥129
		div.fooerT
		include footer.jade
		include loginLogon.jade
	script(src="../js/index.js")