div.login
	div.loginNei
		div.hy -欢迎回来-
		div.logod
			img(src="../images/meta.jpg")
		a.tong.sinad(href="#") 微博账户登录
			img(src="../images/sina.png")
		a.tong.qqd(href="#") qq账户登录
			img(src="../images/QQ.png")
		div.hy -or-
		span 邮箱
		input(type="text")
		span 密码
		input(type="password")
		a.tong.dl(href="javascript:void(0)") 登录
		a.forget(href="javascript:void(0)") 忘记密码？点击这里
		a.logZu(href="javascript:void(0)") 注册META