article.logon1
	div.logonPlan
		div.plan 加入 META 会员计划
		p 市场上的产品，<br/>一般都是8倍于其成本进行销售，<br/>但是，在META绝不是这样<br/>我们将会坚持我们的极致透明策略，<br/>去除一切中间商，减少供应链，提供<br/>优质、低廉价格的设计师产品。
		span.email 邮箱
		input.emailText(type="text")
		a.create(href="javascript:void(0)") 创建账户
		a.microblog(href="#") 微博账户登陆
			img.sina(src="../images/sina.png")
		a.qq(href="#") qq账户登陆
			img.QQ(src="../images/QQ.png")
		a.logonLogin(href="javascript:void(0)") 已注册？登陆