doctype
html
	head
		meta(charset="utf-8")
		title META
		link(rel="stylesheet",type="text/css",href="../css/shop.css")
	body
		include header.jade
		section.shape
			div.xiao
				img.active(src="../images/backpack-shop.jpg")
				img(src="../images/xpic2.jpg")
				img(src="../images/xpic3.jpg")
				img(src="../images/xpic4.jpg")
				img(src="../images/xpic5.jpg")
				span.pointer
			ul.xPic
				li
					img(src="../images/pic1.jpg")
				li
					img(src="../images/pic2.jpg")
				li
					img(src="../images/pic3.jpg")
				li.pic4
					img(src="../images/pic4.jpg")
				li
					img(src="../images/pic5.jpg")
			div.big
				img(src="../images/backpack-shopB.jpg")
			div.shapeRg
				span.maiTa 麦塔帆布双肩包
				span.price ￥349
				i 传统零售店售价￥1200
				span.colors 颜色
				div.col
					img(src="../images/colors.png")
					div.col1 斜纹牛仔布
					div.col2 黑色牛皮
				a(href="#") 加入购物袋
				span.free 免邮费
		section.introduction
			div.detalls
				span.detallsE STYLE DETALLS
				div Our popular Snap Backpack now in a<br/>beautiful,sturdy twill fabrication
				ul
					li 100% cotton twill exterior
					li Leather detailing
					li 100% cotton twill exterior
					li Leather detailing
			div.size
				span.sizeE SIZE DETALLS
				ul
					li 100% cotton twill exterior
					span Leather detailing
					li Leather detailing
					li Questions? Email 
						i support@everlane.com
			div.factory
				span.factoryE THE FACTORY
				p Our popular Snap Backpack now in a beautiful,<br/>sturdyt will fabrication twill fabrication Our<br/>popular Snap Backpack nowin a beautiful,sturdy<br/>twill fabrication twill fabrication Our popular<br/>Snap Backpack now in a beautiful,sturdy twill<br/>fabrication twill fabrication Our popular Snap<br/>Backpack now in a beautiful,sturdy twill fabrication<br/>twill fabrication. 
					i View more
		div.people
			div.peoplen
				span FROM THE PEOPLE
				ul
					li.first
						a(href="#")
							img(src="../images/people.jpg")
					li
						a(href="#")
							img(src="../images/people.jpg")
					li
						a(href="#")
							img(src="../images/people.jpg")
					li
						a(href="#")
							img(src="../images/people.jpg")
					li
						a(href="#")
							img(src="../images/people.jpg")
		div.costPic
			span 帆布双肩包
			span 透明价格
			span 我们认为，消费者有权利知道他们购买的产品的成本
			div
				img(src="../images/cost.png")
		include footer.jade
		include loginLogon.jade
	script(src="../js/shop.js")